server:
  port: 8081
  # http://localhost:8081/oauth/authorize?client_id=TestClientId&response_type=code
  # http://localhost:8081/oauth/authorize?client_id=TestClientId&redirect_uri=http://localhost:8081/oauth2/callback&response_type=code&scope=read

security:
  oauth2:
    jwt:
      signkey: 123@#$ # 정합성 검증을 위한 키를 지정