server:
  port: 8080
  # http://localhost:8080/oauth/authorize?client_id=TestClientId&response_type=code
  # http://localhost:8080/oauth/authorize?client_id=TestClientId&redirect_uri=http://localhost:8080/oauth2/callback&response_type=code&scope=read

security:
  oauth2:
    resource:
      jwt:
        signkey: 123@#$  # oauth서버에 생성한 공개키
